<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> blog </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>
<body>

{% block content %}

<!-- Page Content -->
<div class="container">

    <h1>SWUBOOK CURATION</h1>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h2 class="display-3">예술</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>


    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">책 속의 미술관</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/879/59/cover500/8901117134_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000561320?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%AF%B8%EC%88%A0%EA%B4%80%EC%97%90+%EA%B0%84_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">미술관에 간 CEO </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">김창대, 웅진지식하우스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#창조 #미술 #경영</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/96/33/cover500/890106877x_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000431326?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9C%84%ED%97%98%ED%95%9C+%EB%AF%B8%EC%88%A0%EA%B4%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">위험한 미술관</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">조이한, 웅진지식하우스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#스캔들 #명화 #이야기</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/12992/92/cover500/k412532793_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000837688?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%96%B4%EC%A8%8C%EB%93%A0+%EB%AF%B8%EC%88%A0%EC%9D%80+%EC%9E%AC%EB%B0%8C%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">어쨌든 미술은 재밌다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;"> 박혜성, 글담</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#교양 #여유 #낭만</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/23828/3/cover500/s522639287_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000856993?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%B0%A9%EA%B5%AC%EC%84%9D+%EB%AF%B8%EC%88%A0%EA%B4%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">방구석 미술관</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">조원재, 블랙피쉬</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#미술감상 #입문 #미술사</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">글로 듣는 음악</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/1551/57/cover500/8952764536_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000613687?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%AC%B4%EC%9D%B8%EB%8F%84%EC%97%90+%EB%96%A8%EC%96%B4%EC%A0%B8%EB%8F%84+%EC%9D%8C%EC%95%85_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">무인도에 떨어져도 음악</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">권오섭, 시공사</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#대중적 #명곡 #에세이</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/4669/6/cover500/8990989590_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000768410?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%8B%A8%EC%88%A8%EC%97%90+%EC%9D%BD%EB%8A%94+%EC%97%90%ED%94%BC%EC%86%8C%EB%93%9C+%EC%9D%8C%EC%95%85%EC%82%AC_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">(단숨에 읽는) 에피소드 음악사 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">크리스티아네 테빙켈, 열대림</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#흥미진진 #음악사 #예술</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22453/2/cover500/k392636429_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000896221?mainLink=/search/tot&briefLink=/search/tot/result?q=1%EC%9D%BC+1%ED%81%B4%EB%9E%98%EC%8B%9D+1%EA%B8%B0%EC%81%A8_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">1일 1클래식 1기쁨</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">클레먼시 버턴힐/김재용, 윌북 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#클래식 #음악가 #현대</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/5840/72/cover500/8927806425_2.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000768698?mainLink=/search/tot&briefLink=/search/tot/result?q=%ED%95%98%EB%85%B8%EB%B2%84%EC%97%90%EC%84%9C_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">하노버에서 온 음악 편지</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">손열음, 중앙북스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#피아니스트 #클래식 #에세이</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">우리 주변 어디에나 있는 건축이야기</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/5518/24/cover500/8932472955_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000757292?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%8F%84%EC%8B%9C%EB%8A%94+%EB%AC%B4%EC%97%87%EC%9C%BC%EB%A1%9C+%EC%82%AC%EB%8A%94%EA%B0%80+_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">도시는 무엇으로 사는가</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">유현준, 율유문화사</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#인문학 #건축물 #공간</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/4956/17/cover500/8961961845_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000750644?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%84%9C%EC%9A%B8+%EA%B1%B4%EC%B6%95+%EB%A7%8C%EB%8B%B4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">서울 건축 만담</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">차현호/최준석, 아트북스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#서울 #건축물 #에세이</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/90/57/cover500/8971992735_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000421268?mainLink=/search/tot&briefLink=/search/tot/result?q=%ED%95%9C%EC%98%A5%EC%97%90+%EC%82%B4%EC%96%B4%EB%A6%AC%EB%9E%8F%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">한옥에 살어리랏다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">새로운 한옥을 위한 건축인 모임, 돌베개</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#현대 #한옥 #안내서</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/3808/42/cover500/895872126x_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000402477?mainLink=/search/tot&briefLink=/search/tot/result?q=%EA%B1%B4%EC%B6%95%2C+%EC%9D%8C%EC%95%85%EC%B2%98%EB%9F%BC+%EB%93%A3%EA%B3%A0+%EB%AF%B8%EC%88%A0%EC%B2%98%EB%9F%BC+%EB%B3%B4%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">건축, 음악처럼 듣고 미술처럼 보다 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">서현, 효형출판</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#건축가 #현대 #비평</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endblock content %}

</body>

</html>