<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> humanities </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>
<body>

{% block content %}

<!-- Page Content -->
<div class="container">

    <h1>SWUBOOK CURATION</h1>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h2 class="display-3">인문&middot;사회</h2>
        <p class="lead">8월에 소개해 드릴 주제는 『소설』, 『인권』, 『심리학』입니다.</p>
        <h10>책표지를 클릭하면 서울여자대학교 도서관의 소장정보로 이동합니다.</h10>
    </header>


    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">드라마 대신 소설 한편 어떠세요?</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/10565/12/cover500/8936434268_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000815594?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%95%84%EB%AA%AC%EB%93%9C_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">아몬드</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">손원평, 창비 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#공감 #감정 #청소년소설</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24129/14/cover500/k972639630_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901122?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%82%98%EB%8A%94+%EC%A0%88%EB%8C%80+%EC%A0%80%EB%A0%87%EA%B2%8C+%EC%B6%94%ED%95%98%EA%B2%8C+%EB%8A%99%EC%A7%80+%EB%A7%90%EC%95%84%EC%95%BC%EC%A7%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">나는 절대 저렇게 추하게 늙지 말아야지 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">심너울, 아작 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#SF소설 #한국소설 #풍자</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/21194/68/cover500/s812638226_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000882389?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%A9%8B%EC%A7%84+%EC%8B%A0%EC%84%B8%EA%B3%84_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">멋진 신세계</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">올더스 헉슬리, 서문당</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#SF소설 #통제 #인간존엄</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/2175/33/cover500/s842635620_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000627137?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%82%98%EB%AF%B8%EC%95%BC+%EC%9E%A1%ED%99%94%EC%A0%90_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">나미야 잡화점의 기적</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">히가시노 게이고, 현대문학</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#추리소설 #편지 #감동</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">당신의 마음을 꿰뚫어보는 심리학</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/4846/30/cover500/s892635620_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000747614?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%AF%B8%EC%9B%80%EB%B0%9B%EC%9D%84_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">미움받을 용기</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">기시미 이치로/고가 후미타케, 인플루엔셜 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#인간관계 #자기계발 #용기</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/8679/31/cover500/k372535696_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000794501?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9E%90%EC%A1%B4%EA%B0%90+%EC%88%98%EC%97%85_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">자존감 수업</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">윤홍균, 심플라이프 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#인간관계 #상처 #심리코칭</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24112/74/cover500/k552639639_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901082?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%86%8C%EB%B0%A9%EA%B4%80%EC%9D%98+%EC%84%A0%ED%83%9D_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">소방관의 선택</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">사브리나 코헨-해턴, 북하우스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#의사결정 #판단 #감정</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/4958/83/cover500/8937834863_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000751786?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%96%B4%EB%96%BB%EA%B2%8C+%EA%B3%B5%EB%B6%80%ED%95%A0+%EA%B2%83%EC%9D%B8%EA%B0%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">어떻게 공부할 것인가</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">헨리 뢰디거/마크 맥대니얼/피터 브라운, 와이즈베리 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#학습법 #공부습관 #학습유형</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">가장 존엄한 가치, 인권</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/6213/50/cover500/8932917205_2.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000770522?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%95%B5%EB%AC%B4%EC%83%88+%EC%A3%BD%EC%9D%B4%EA%B8%B0_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">앵무새 죽이기</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">하퍼 리, 열린책들 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#소설 #인종차별 #편견</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22507/69/cover500/8960906042_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000896185?mainLink=/search/tot&briefLink=/search/tot/result?q=%EA%B8%B4%EC%A6%88%EB%B2%84%EA%B7%B8%EC%9D%98+%EB%A7%90_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">긴즈버그의 말</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">루스 베이더 긴즈버그/헬레나 헌트, 마음산책 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#여성인권 #평등 #진보</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22694/95/cover500/k842636130_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000895852?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%84%B8%EC%8A%B5+%EC%A4%91%EC%82%B0%EC%B8%B5%EC%9D%98_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">세습 중산층 사회 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">조귀동, 생각의힘</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회불평등 #초격차사회 #계층</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22461/73/cover500/8976825985_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000896199?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%B2%A0%ED%95%99+%EC%9E%A5%EC%95%A0%EB%A5%BC+%EB%85%BC%ED%95%98%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">철학, 장애를 논하다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">크리스트야나 크리스티안센/시모 베마스/톰 셰익스피어, 그린비 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#교양철학 #장애인복지 #윤리</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endblock content %}


</body>

</html>