<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> economics </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>
<body>

{% block content %}

<!-- Page Content -->
<div class="container">

    <h1>SWUBOOK CURATION</h1>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h2 class="display-3">경영&middot;경제</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>


    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">리더십이 필요한 당신에게</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24082/63/cover500/k562639133_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901782?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%8B%A4%EC%8B%9C+%EB%A6%AC%EB%8D%94%EB%A5%BC+%EC%83%9D%EA%B0%81%ED%95%98%EB%8B%A4_A_websysdiv=tot_A_st=KWRD_A_y=0_A_x=0_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;"> 다시 리더를 생각하다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">존 맥스웰, 비즈니스북스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;">#리더십 #결단 #조직관리</p> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22018/96/cover500/8901238748_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000896933?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%A6%AC%EB%8D%94%EC%9D%98+%EC%9A%A9%EA%B8%B0_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">리더의 용기</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">브레네 브라운, 갤리온</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#리더십 #조직관리 #스타트업</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/21295/92/cover500/k242636386_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000881819?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9A%94%EC%A6%98+%EA%B2%83%EB%93%A4%EA%B3%BC+%EC%98%9B%EB%82%A0+%EA%B2%83%EB%93%A4%EC%9D%98+%EC%84%B8%EB%8C%80+%EA%B3%B5%EC%A1%B4%EC%9D%98+%EA%B8%B0%EC%88%A0_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">요즘 것들과 옛날 것들의 세대 공존의 기술</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">허두영, 넥서스BIZ</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;">#세대갈등 #밀레니얼세대 #소통</p> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/17047/0/cover500/k042534785_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000866477?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9D%B4%EC%9B%83%EC%A7%91+ceo_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이웃집 CEO</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">엘레나 보텔로/킴 파월/탈 라즈, 소소의 책</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#조직관리 #CEO #성장</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이 시대에 꼭 필요한 마켓팅과 세일즈</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24034/58/cover500/k382639512_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000900833?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%BD%94%EB%A1%9C%EB%82%98+%EC%9D%B4%ED%9B%84%EC%9D%98+%EC%84%B8%EA%B3%84_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">코로나 이후의 세계</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">제이슨 솅커, 미디어숲 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#트렌드 #경제전망 #코로나19</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24209/72/cover500/k382630067_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901003?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%89%B4%ED%83%80%EC%9E%85%EC%9D%98+%EC%8B%9C%EB%8C%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">뉴타입의 시대</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">야마구치 슈, 인플루엔셜</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#경영전략 #철학 #트렌드</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/18733/35/cover500/896570782x_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000897052?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%A7%88%EC%BC%80%ED%8C%85%EC%9D%B4%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">마케팅이다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">세스 고딘, 쌤앤파커스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#진실성 #마케팅 #통찰력</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/23869/68/cover500/k792639581_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901038?mainLink=/search/tot&briefLink=/search/tot/result?q=%EA%B8%B0%EB%A1%9D%EC%9D%98+%EC%93%B8%EB%AA%A8_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">기록의 쓸모</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이승희, 북스톤</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#경험 #성장 #마케팅전략</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">요즘 대세는 주식과 투자</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/22271/60/cover500/k982636921_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000377451?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%A3%BC%EC%8B%9D%ED%88%AC%EC%9E%90+%EB%AC%B4%EC%9E%91%EC%A0%95+%EB%94%B0%EB%9D%BC%ED%95%98%EA%B8%B0_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">주식투자 무작정 따라하기 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">윤재수, 길벗 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#주식입문서 #입문 #가이드</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/24129/23/cover500/k362639630_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000901866?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9A%94%EC%A6%98+%EC%95%A0%EB%93%A4%EC%9D%84+%EC%9C%84%ED%95%9C+%EC%8A%AC%EA%B8%B0%EB%A1%9C%EC%9A%B4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">요즘 애들을 위한 슬기로운 재태크 생활</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">조혜경, 원앤원북스 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#가이드 #사회초년생 #입문</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/10764/4/cover500/8957821171_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000879295?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%A0%84%EC%84%A4%EB%A1%9C+%EB%96%A0%EB%82%98%EB%8A%94+%EC%9B%94%EA%B0%80%EC%9D%98+%EC%98%81%EC%9B%85_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">전설로 떠나는 월가의 영웅</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">피터 린치/존 로스차일드, 국일증권경제연구소</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#성공스토리 #글로벌기업 #CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/1990/54/cover500/8997453068_2.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000794874?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%99%9C+%EC%A3%BC%EC%8B%9D%EC%9D%B8%EA%B0%80_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">왜 주식인가?</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">존 리, 이콘 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#가이드 #노하우 #투자원칙</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endblock content %}

</body>

</html>