<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> women </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>
<body>

{% block content %}

<!-- Page Content -->
<div class="container">

    <h1>SWUBOOK CURATION</h1>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h2 class="display-3">여성</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>


    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">차별 그리고 편견</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/19874/76/cover500/k432636018_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000880219?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%84%A0%EB%9F%89%ED%95%9C+%EC%B0%A8%EB%B3%84%EC%A3%BC%EC%9D%98%EC%9E%90_A_websysdiv=tot_A_st=KWRD_A_y=0_A_x=0_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">선량한 차별주의자 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">김지혜, 창비</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #입문 #차별</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/10561/85/cover500/8964372697_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000815610?mainLink=/search/tot&briefLink=/search/tot/result?q=%EA%B7%B8%EB%9F%B0+%EC%97%AC%EC%9E%90%EB%8A%94+%EC%97%86%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">그런 여자는 없다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">게릴라걸스, 후마니타스</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #언어폭력 #편견</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/8652/38/cover500/893647300x_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000795752?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%97%AC%EC%9E%90+%EB%8B%A4%EC%9A%B4%EA%B2%8C+%EC%96%B4%EB%94%A8%EC%96%B4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">여자다운 게 어딨어</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">에머 오툴, 창비</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #편견 #차별</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/19518/23/cover500/8959406961_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000882029?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9D%B4%EB%93%B1+%EC%8B%9C%EB%AF%BC_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이등시민</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">모이라 데이비, 시대의 창</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#소설 #독박 #고정관념</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">여성이 겪는 수많은 폭력들</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/7492/10/cover500/8998282755_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000789650?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%95%85%EC%96%B4%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">악어 프로젝트 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">토마 마티외, 푸른지식</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #성폭력 #성차별</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/11605/67/cover500/k602531913_2.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000825042?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%8B%A4%EB%A5%B8+%EC%82%AC%EB%9E%8C_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">다른 사람</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">강화길, 한겨레출판사</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#소설 #데이트폭력 #성폭력</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/15572/85/cover500/s572533730_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000795429?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9A%B0%EB%A6%AC%EC%97%90%EA%B2%90+%EC%96%B8%EC%96%B4%EA%B0%80+%ED%95%84%EC%9A%94%ED%95%98%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">우리에겐 언어가 필요하다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이민경, 봄알람 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#성차별 #성평등 #여성혐오</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/23730/85/cover500/8937491303_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000900815?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%9D%B4%EC%88%98%EC%A0%95+%EC%9D%B4%EB%8B%A4%ED%98%9C%EC%9D%98+%EB%B2%94%EC%A3%84+%EC%98%81%ED%99%94+%ED%94%84%EB%A1%9C%ED%8C%8C%EC%9D%BC_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이수정 이다혜의 범죄 영화 프로파일 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">이수정/이다혜/최세희/조영주, 민음사</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #디지털성범죄 #성착취</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- book post -->
    <div class="album py-5 bg-light">

        <!-- Sub-Topic -->
        <div id="s-lg-content-47605756" class="  clearfix">
            <p><span style="font-size:28px;"><strong><span style="font-family: NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">더 나은 미래를 위해, 여성들의 투쟁</span></strong></span></p>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/1654/97/cover500/8956606218_3.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000608858?mainLink=/search/tot&briefLink=/search/tot/result?q=%EC%97%AC%EC%84%B1%ED%98%90%EC%98%A4%EB%A5%BC+%ED%98%90%EC%98%A4%ED%95%9C%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">여성 혐오를 혐오한다 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">우에노 지즈코, 은행나무</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #혐오 #투쟁</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/7908/6/cover500/k992434938_2.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000781992?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%82%98%EC%81%9C%ED%8E%98%EB%AF%B8%EB%8B%88%EC%8A%A4%ED%8A%B8_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">나쁜 페미니스트</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">록산 게이, 사이행성</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #여성학 #인종차별</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/11838/34/cover500/8925562332_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000832940?mainLink=/search/tot&briefLink=/search/tot/result?q=%EA%B4%9C%EC%B0%AE%EC%A7%80+%EC%95%8A%EC%8A%B5%EB%8B%88%EB%8B%A4_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">괜찮지 않습니다</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">최지은, 알에이치코리아#사회 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#여성학 #여성혐오</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <a href="#" class="thumbnail">
                        <img src="https://image.aladin.co.kr/product/18444/86/cover500/k682534255_1.jpg" width="100%" height="100%" onClick="location.href='https://lib.swu.ac.kr/search/detail/CATTOT000000877595?mainLink=/search/tot&briefLink=/search/tot/result?q=%EB%82%B4+%EC%95%88%EC%9D%98+%EA%B0%80%EB%B6%80%EC%9E%A5_A_st=KWRD_A_si=TOTAL'">
                    </a>
                    <div class="card-body">
                        <p class="card-text"><p style="font-size:20px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">내 안의 가부장 </p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot; font-weight: bold;">시드라 레비 스톤, 사우</p>
                        <p class="card-text"><p style="font-size:15px; font-family:NanumGothic, 나눔고딕, ngwoff, ngeot;"></p>#사회 #가부장 #투쟁</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endblock content %}

</body>

</html>