<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> my page </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">SWUBOOK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">MY PAGE <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">경영&middot;경제</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">여성</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">예술</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">인문&middot;사회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">자연과학</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<div class="container">
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">My Page</h1>
      <p class="lead my-3">내가 원하는 책에 대해 한줄 평을 남길 수 있습니다.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">책 보러 가기</a></p>
    </div>
  </div>


<div>
    {% block content %}
    {% endblock %}
</div>
<!--<div class="col-md-6">-->
<!--    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--            <strong class="d-inline-block mb-2 text-success">카테고리</strong>-->
<!--            <h3 class="mb-0">{{p.title}}</h3>-->
<!--            <div class="mb-1 text-muted">{{p.author}}</div>-->
<!--            <p class="mb-auto">입력된 comment가 없습니다.</p>-->
<!--            <span>-->
<!--            &lt;!&ndash; <a href="#" class="stretched-link">Comment</a> &ndash;&gt;-->

<!-- <button class="btn btn-danger float left" onclick="location.href='#'" type="button">edit</button>-->
<!--            <button class="btn btn-secondary float left" type="button">delete</button>-->
<!--            <img align="right" onclick="location.href='#'" type="button" src="../img/grayh.png" alt="" onclick="change2(this)">-->
<!--          </span>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash;찜 취소 modal&ndash;&gt;-->
<!--<div class="modal" id="deletelike">-->
<!--  <div class="modal-dialog" role="document" >-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">찜 취소</h5>-->
<!--        <button class="close" aria-label="Close" type="button" data-dismiss="modal">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>찜 취소 시 작성했던 comment도 사라집니다.</p>-->
<!--          <p>정말 찜을 취소하시겠습니까?</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-primary" type="button">찜 취소</button>-->
<!--        <button class="btn btn-secondary" type="button" data-dismiss="modal">돌아가기</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;//찜 취소 modal&ndash;&gt;-->
<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>
</body>
</html>